@model DesafioJAP.Models.Veiculo

<h1>Adicionar Veiculo</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Marca">Marca</label>
        <input type="text" class="form-control" id="Marca" name="Marca" value="@Model.Marca" required />
    </div>
    <div class="form-group">
        <label for="Modelo">Modelo</label>
        <input type="text" class="form-control" id="Modelo" name="Modelo" value="@Model.Modelo" required />
    </div>
    <div class="form-group">
        <label for="Matricula">Matricula</label>
        <input type="text" class="form-control" id="Matricula" name="Matricula" value="@Model.Matricula" required />
    </div>
    <div class="form-group">
        <label for="Morada">AnoFabrico</label>
        <input type="text" class="form-control" id="AnoFabrico" name="AnoFabrico" value="@Model.AnoFabrico" />
    </div>
      <div class="form-group">
        <label for="Morada">TipoCombustivel</label>
        <input type="text" class="form-control" id="TipoCombustivel" name="TipoCombustivel" value="@Model.TipoCombustivel" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
