@model IEnumerable<DesafioJAP.Models.Veiculo>

<h1 class="mt-4" style="margin-bottom: 40px;" >Lista de Veículos</h1>

<table class="table table-striped table-hover mt-4">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Matrícula</th>
            <th>Ano de Fabrico</th>
            <th>Tipo de Combustível</th>
            <th>Estado Veiculo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veiculo in Model)
        {
            <tr>
                <td>@veiculo.Marca</td>
                <td>@veiculo.Modelo</td>
                <td>@veiculo.Matricula</td>
                <td>@veiculo.AnoFabrico</td>
                <td>@veiculo.TipoCombustivel</td>
                <td>@if (veiculo.Disponivel)
                    {
                        <span class="badge bg-success">Disponível</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Alugado</span>
                    }</td>

                <td>
                    <form asp-action="Delete" asp-route-id="@veiculo.Id" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Tem a certeza que deseja apagar este veículo?');">Apagar
                            Veiculo</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-danger mt-3" asp-action="Create">Adicionar Novo Veiculo</a>
