@model IEnumerable<DesafioJAP.Models.Cliente>

<h1 style="margin-bottom: 40px;">Lista de Clientes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Carta Condução</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.CartaConducao</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@cliente.Id" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Tem a certeza que deseja apagar este cliente?');">Apagar Cliente</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Adicionar Cliente</a>